.dev {
    background-color: purple;
    min-height: 100vh;
    position: relative;
}

#devContent {
    background-color: tomato;
    padding: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}